#real-name-sdk {
  &__mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    /* opacity: 0.4;
    filter: alpha(opacity=40); */
  }

  &__wraper {
    box-sizing: border-box;
    display: none;
    width: 700px;
    height: 280px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    padding: 40px;

    .close {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 12px;
      height: 12px;
      background: url("https://p4.ssl.qhimg.com/t013d31002fab72ccdc.png") center center no-repeat;
      background-size: contain;
      cursor: pointer;
    }

    .tip {
      display: table;
      height: 100%;

      &-content {
        display: table-cell;
        vertical-align: middle;

        &__title {
          text-align: center;
          line-height: 35px
        }

        &__sub-title {
          text-align: center;
          line-height: 35px
        }
  
        &__content {
          margin-top: 30px;
          line-height: 30px;
        }
      }
      
    }
  }
}